.md-header{
    background-color: #023e87 !important;
}
.md-header img{
    width: 100px;
    height: 30px;
}

.md-footer {
    background-color: #023e87 !important;
}
.md-footer-nav {
    background-color: #023e87 !important;
}
